.ui-icon,
.ui-icon-searchfield:after {
    background-color: #666;
    background-color: rgba(0, 0, 0, .4);
    background-image: url(../images/icons-18-white.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 9px;
    border-radius: 9px
}

.ui-icon-alt .ui-icon,
.ui-icon-alt .ui-icon-searchfield:after {
    background-color: #fff;
    background-color: rgba(255, 255, 255, .3);
    background-image: url(../images/icons-18-black.png);
    background-repeat: no-repeat
}

.ui-icon-nodisc .ui-icon,
.ui-icon-nodisc .ui-icon-searchfield:after,
.ui-icon-nodisc .ui-icon-alt .ui-icon,
.ui-icon-nodisc .ui-icon-alt .ui-icon-searchfield:after {
    background-color: transparent
}

.ui-icon-plus {
    background-position: -1px -1px
}

.ui-icon-minus {
    background-position: -37px -1px
}

.ui-icon-delete {
    background-position: -73px -1px
}

.ui-icon-arrow-r {
    background-position: -108px -1px
}

.ui-icon-arrow-l {
    background-position: -144px -1px
}

.ui-icon-arrow-u {
    background-position: -180px -1px
}

.ui-icon-arrow-d {
    background-position: -216px -1px
}

.ui-icon-check {
    background-position: -252px -1px
}

.ui-icon-gear {
    background-position: -288px -1px
}

.ui-icon-refresh {
    background-position: -323px -1px
}

.ui-icon-forward {
    background-position: -360px -1px
}

.ui-icon-back {
    background-position: -396px -1px
}

.ui-icon-grid {
    background-position: -432px -1px
}

.ui-icon-star {
    background-position: -467px -1px
}

.ui-icon-alert {
    background-position: -503px -1px
}

.ui-icon-info {
    background-position: -539px -1px
}

.ui-icon-home {
    background-position: -575px -1px
}

.ui-icon-search,
.ui-icon-searchfield:after {
    background-position: -611px -1px
}

.ui-icon-checkbox-on {
    background-position: -647px -1px
}

.ui-icon-checkbox-off {
    background-position: -683px -1px
}

.ui-icon-radio-on {
    background-position: -718px -1px
}

.ui-icon-radio-off {
    background-position: -754px -1px
}

.ui-icon-bars {
    background-position: -788px -1px
}

.ui-icon-edit {
    background-position: -824px -1px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min--moz-device-pixel-ratio: 1.3),
only screen and (min-resolution: 200dpi) {
    .ui-icon-plus,
    .ui-icon-minus,
    .ui-icon-delete,
    .ui-icon-arrow-r,
    .ui-icon-arrow-l,
    .ui-icon-arrow-u,
    .ui-icon-arrow-d,
    .ui-icon-check,
    .ui-icon-gear,
    .ui-icon-refresh,
    .ui-icon-forward,
    .ui-icon-back,
    .ui-icon-grid,
    .ui-icon-star,
    .ui-icon-alert,
    .ui-icon-info,
    .ui-icon-home,
    .ui-icon-bars,
    .ui-icon-edit,
    .ui-icon-search,
    .ui-icon-searchfield:after,
    .ui-icon-checkbox-off,
    .ui-icon-checkbox-on,
    .ui-icon-radio-off,
    .ui-icon-radio-on {
        background-image: url(../images/icons-36-white.png);
        -moz-background-size: 864px 18px;
        -o-background-size: 864px 18px;
        -webkit-background-size: 864px 18px;
        background-size: 864px 18px
    }
    .ui-icon-alt .ui-icon {
        background-image: url(../images/icons-36-black.png)
    }
    .ui-icon-plus {
        background-position: 0 50%
    }
    .ui-icon-minus {
        background-position: -36px 50%
    }
    .ui-icon-delete {
        background-position: -72px 50%
    }
    .ui-icon-arrow-r {
        background-position: -108px 50%
    }
    .ui-icon-arrow-l {
        background-position: -144px 50%
    }
    .ui-icon-arrow-u {
        background-position: -179px 50%
    }
    .ui-icon-arrow-d {
        background-position: -215px 50%
    }
    .ui-icon-check {
        background-position: -252px 50%
    }
    .ui-icon-gear {
        background-position: -287px 50%
    }
    .ui-icon-refresh {
        background-position: -323px 50%
    }
    .ui-icon-forward {
        background-position: -360px 50%
    }
    .ui-icon-back {
        background-position: -395px 50%
    }
    .ui-icon-grid {
        background-position: -431px 50%
    }
    .ui-icon-star {
        background-position: -467px 50%
    }
    .ui-icon-alert {
        background-position: -503px 50%
    }
    .ui-icon-info {
        background-position: -538px 50%
    }
    .ui-icon-home {
        background-position: -575px 50%
    }
    .ui-icon-search,
    .ui-icon-searchfield:after {
        background-position: -611px 50%
    }
    .ui-icon-checkbox-on {
        background-position: -647px 50%
    }
    .ui-icon-checkbox-off {
        background-position: -683px 50%
    }
    .ui-icon-radio-on {
        background-position: -718px 50%
    }
    .ui-icon-radio-off {
        background-position: -754px 50%
    }
    .ui-icon-bars {
        background-position: -788px 50%
    }
    .ui-icon-edit {
        background-position: -824px 50%
    }
}

.ui-checkbox .ui-icon,
.ui-selectmenu-list .ui-icon {
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.ui-icon-checkbox-off,
.ui-icon-radio-off {
    background-color: transparent
}

.ui-checkbox-on .ui-icon,
.ui-radio-on .ui-icon {
    background-color: #4596ce
}

.ui-icon-loading {
    background: url(../images/ajax-loader.gif);
    background-size: 46px 46px
}

.ui-icon-shadow {
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4)
}

.ui-icon {
    width: 18px;
    height: 18px
}

.ui-btn-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #fff;
    background: rgba(255, 255, 255, 0);
    filter: Alpha(Opacity=0);
    opacity: .1;
    font-size: 1px;
    border: 0;
    text-indent: -9999px
}

.ui-icon-searchfield:after {
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -9px;
    content: "";
    width: 18px;
    height: 18px;
    opacity: .5
}

.names {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.contents {
    display: none;
}

.contents.on {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
body,
header,
footer {
    margin: 0;
}

ul li {
    list-style: none;
}

header,
footer {
    display: block;
    height: 50px;
    width: 100%;
    background-color: #808080;
}

.center {
    text-align: center;
}

.fright {
    float: right;
}

.page-link {
    color: #0000ff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    padding: 5px;
}
